BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
Standard: Cpp11
Language: Cpp
AccessModifierOffset: -2
ColumnLimit: 0